#main {
    background-color: #f9f9f9;
    height: -webkit-fill-available;
    position: relative;
    left: 250px;
}
div #tor{
    background-attachment: fixed;
    background-image: url('../images/home_hintergrund.jpg'); 
    background-size: cover;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    padding: 3rem;
    width: 100vw;
    height: 100%;
    z-index: 1;
    background-color: hsla(0,0%,100%,0.7);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}


/*Sidebar*/

.sidebar {
    height: 100vh;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    padding-top: 100px;
    margin-top: 50px;
}

.sidebar a,
.sidebar i {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar i:hover {
    color: #f1f1f1;
}

button .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
.sidebar i {
    float: right;
    margin-top: 1px;
}
/* End Sidebar*/

.table td {
    vertical-align: middle;
}

label {
    margin-bottom: -7px;
}

nav a.navbar-brand {
    font-size: 28px !important;
    margin-left: 1.4%;
}

.sidebar #hamburger {
    margin-top: -42px;
}

/* input checkbox datatables */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

div #home{
    width:200px;
    height:200px;
    display: block;
    position: relative;
}

div #home::after {
    content: "";
    background: url('../images/home_hintergrund2.jpg');
    top:0;
    left:0;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
}